.slides,
.controls {
    position: relative;
}
.indicators {
    display: flex;

}
.indicators__item {
    display: block;
    background-color: aqua;
    width: 30px;
    height: 25px;
    border-radius: 4px;
}